<script>
import axios from 'axios'

export default {
    name: 'WeatherApp',
    data()
    {
        return{
            city_search: "",
            description: "",
            city: "",
            temp: "",
            pressure: "",   
            humidity: "",
            if: false,
            icon: ""
        }
    },
    created()
    {
        this.test();
    },
    mounted()
    {
    },
    methods:
    {
        test: function()
        {
            const x = "https://api.openweathermap.org/data/2.5/weather?q="+this.city_search+"&appid=36bb972eb44abc7137a2a84bd63afd71&units=metric"
            axios.get(x)
            .then(response => { 
                this.description = response.data.weather[0].description;
                console.log(this.description);
                this.city = response.data.name;
                console.log(this.city);
                console.log(response);
                //console.log(response);
                this.temp = response.data.main.temp;
                this.pressure = response.data.main.pressure;
                this.humidity = response.data.main.humidity;
                console.log(this.temp);
                this.icon = "https://openweathermap.org/img/wn/" + response.data.weather[0].icon + "@2x.png"
                console.log(this.icon);
                this.if = true;
            }).catch(error => {
                console.log(error);
                this.if = false;
            });


        }
    }
}

</script>

<template>
    <div class="all">
    <input type="text" v-model="city_search" @change="test">
    <!-- <p v-if="this.city!=null&&this.if" id="city">{{this.city}}</p> -->
    <p v-if="this.description!=null&&this.if" id="weather">{{this.description}}</p>
    <p v-if="this.temp!=null&&this.if" id="temperature">{{this.temp}}&#176;</p>
    <p v-if="this.icon!=null&&this.if" class="icon"><img :src="icon"></p>
    <p v-if="this.pressure!=null&&this.if" id="botttom">Pressure: {{this.pressure}}</p>
    <p v-if="this.pressure!=null&&this.if" id="botttom">Humidity: {{this.pressure}}</p>
    <p v-if="!this.if">Podaj poprawne miasto</p>
</div>
</template>

<style>
.all {
    background: linear-gradient(to bottom, #ff70a6, #fbd786);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 600px;
    height: auto;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}

.all:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) scale(1.02);
}

.all p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


#city {
    font-size: 30px; 
    font-weight: normal;
    margin-top: 10px;
}


input {
    text-align: center;
    border: none;
    background-color: rgba(255,255,255,0.9);
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

input:focus {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.icon {
    margin-bottom: 30px;
    height: 30%;
    width: 30%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.37);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.53);
}

#temperature
{
    font-size: 100px;
    font-weight: lighter;
    margin-top: -5%;
}

#weather
{
    margin-top: 5%;
    font-weight: lighter;

}

@media only screen and (max-width: 768px) {
    .all {
        width: 90%;
        padding: 1rem;
        font-size: 18px;
    }

    #city {
        font-size: 30px;
    }

    input {
        font-size: 16px;
        padding: 0.4rem 0.75rem;
        width: 70%;
    }
}
</style>
