<script>
import { RouterLink, RouterView } from 'vue-router'
import WeatherApp from './components/WeatherApp.vue'
import Toast from 'primevue/toast';

export default {
  components: { RouterLink, RouterView, Toast,WeatherApp }
}
</script>

<template>
  <WeatherApp></WeatherApp>
</template>

<style scoped>
</style>
